<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mind the Byte Assignement </title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="tit">
  <div align="center"><img src="/static/cropped-logo-web.jpg" alt="logo" width=340 height=105></div>
  <h1>Assignment </h1>
</div>

<div>
  <h2>Exercise:</h2>
  <p>A computer installed from scratch (Ubuntu 14.04) is offered to you. You must go online and develop a small website to show (a bar chart,"rings" on the x-axis and "sort" on the y-axis) data that is included (doc rings.json). You have to use Django as a MySQL database and a javascript library (eg D3) to draw the graph. The more interactive, the better. You have full control over the machine, install whatever you need. Ports 22 and 80 are opened from everywhere.
  To log in we include the .pem file and IP : 54.76.161.232. You have to connect as user "ubuntu".</p>

</div>

<div id="chart"></div>
<label align="right"><input type="checkbox"> sorted by count</label>
<div id="coses">
<h2>Solution details:</h2>
 <ul>
  <li> apache virtual host created on <a href="https://bitbucket.org/efelixm/exercici_mtb/src/c26b1098825f206263a473ddcd997bc9ba484b84/utils/exercici.conf?at=master">/etc/apache2/sites-available/exercici.conf</a></li>
  <li> django working on its own python virtual environment with its own necessary packages </li>
  <li> MySQL as django database, configured with a non root user on django <a href="https://bitbucket.org/efelixm/exercici_mtb/src/c26b1098825f206263a473ddcd997bc9ba484b84/exercici/settings.py?at=master">settings.py</a> configuration file <a href="https://bitbucket.org/efelixm/exercici_mtb/src/5c78797addba0cb7a4c05753eb945a9c5a7fee04/utils/create_db_user.txt?at=master">(u:eloy, p:1234)</a></li>
  <li> initial bdd data load with <a href="https://bitbucket.org/efelixm/exercici_mtb/src/c26b1098825f206263a473ddcd997bc9ba484b84/utils/json_mysql.py?at=master">/var/www/html/exercici/utils/json_python.py</a>, reading rings.json file </li>
  <li> django /var/www/html/exercici project using git as source version control, hosted in <a href="https://bitbucket.org/efelixm/exercici_mtb/src/c26b1098825f206263a473ddcd997bc9ba484b84?at=master">bitbucket</a> </li>
  <li> django admin web where the user can add more data to the graph.(u:ubuntu, p:1234)  <a href="/admin">admin site</a>  </li>
  <li> chart created using d3.js including sort by freq and tooltips, data readed from rings django <a href="https://bitbucket.org/efelixm/exercici_mtb/src/c26b1098825f206263a473ddcd997bc9ba484b84/exercici/models.py?at=master">model</a> data and passed through a <a href="https://bitbucket.org/efelixm/exercici_mtb/src/c26b1098825f206263a473ddcd997bc9ba484b84/exercici/views.py?at=master">view</a> to a <a href="https://bitbucket.org/efelixm/exercici_mtb/src/3f379d5717f96351a5c228ecbfdc5292b240b4a5/exercici/templates/grafica.html?at=master">template</a></li>
</ul>

<br><br><br>
</div>

<div id="firma">
  <div id="data">monday, 13 October 2014</div>
  <div id="nom">Eloy Félix Manzanares</div>
</div>

  

</body>

</html> 

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>
var data = {{ data | safe }};

var margin = {top: 30, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .05, 0.2);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
     .ticks(5);

var yAxis = d3.svg.axis() 
    .scale(y)
    .orient("left")
    .ticks(5);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>Count:</strong> <span style='color:red'>" + d.count + "</span>";
  })


var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

 // function for the x grid lines
function make_x_axis() {
    return d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(5)
}

// function for the y grid lines
function make_y_axis() {
  return d3.svg.axis()
      .scale(y)
      .orient("left")
      .ticks(5)
}
 
  
svg.call(tip);

  data.forEach(function(d) {
    d.count = +d.count;
  });

  x.domain(data.map(function(d) { return d.rings; }));
  y.domain([0, d3.max(data, function(d) { return d.count; })]);

    // Draw the x Grid lines
    svg.append("g")
        .attr("class", "grid")
        .attr("transform", "translate(0," + height + ")")
        .call(make_x_axis()
            .tickSize(-height, 0, 0)
            .tickFormat("")
        )

    // Draw the y Grid lines
    svg.append("g")            
        .attr("class", "grid")
        .call(make_y_axis()
            .tickSize(-width, 0, 0)
            .tickFormat("")
        )
    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("{{y_axis_label}}");

      // Add the title
    svg.append("text")
        .attr("x", (width / 2))     
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
	.style("font-weight", "bold")     
   	.text("{{chart_name | safe }}");


  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.rings); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.count); })
      .attr("height", function(d) { return height - y(d.count); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide);

  // sort the bars by freq

  d3.select("input").on("change", change);

  // timeout auto-sort function
  // var sortTimeout = setTimeout(function() {
  //   d3.select("input").property("checked", true).each(change);
  // }, 2000);

  function change() {
    // timeout, after 2 seconds, there is an auto-sort
    // clearTimeout(sortTimeout);

    // Copy-on-write since tweens are evaluated after a delay.
    var x0 = x.domain(data.sort(this.checked
        ? function(a, b) { return b.count - a.count; }
        : function(a, b) { return d3.ascending(a.rings, b.rings); })
        .map(function(d) { return d.rings; }))
        .copy();

    var transition = svg.transition().duration(750),
        delay = function(d, i) { return i * 50; };

    transition.selectAll(".bar")
        .delay(delay)
        .attr("x", function(d) { return x0(d.rings); });

    transition.select(".x.axis")
        .call(xAxis)
      .selectAll("g")
        .delay(delay);
  };

</script>

</body>
</html>

