<head>
<meta charset="UTF-8">
    <title>Exercici entrevista mind the byte</title>
</head>
<body>

    <h1>Exercici entrevista mind the byte</h1>

    <h3>Segona iteracio.</h3>
      
    <p> cal seguir polint coses. </p>


    <p> la iteracio anterior tenia(es pot reactivar reactivant el virtual host): </p>


 <ul>
  <li> configurat l'apache amb un virtual host</li>
  <li> projecte de django configurat amb un virtual env propi</li>
  <li> django configurat amb MySQL, pero llegint de taula creada a part de django</li>
  <li> grafica mitjançant nvd3, python-nvd3, django-nvd3.fàcil per tenir un primer exemple utilitzant el "demoproject" que tenen al seu github </li>
</ul>

    <p> segona iteracio </p>

 <ul>
  <li> el projecte es creat de nou</li>
  <li> es creen models que generen la base de dades correctament, la bdd sinicialitza amb script ~/json_python.py. (cal mirar les "noves" data migrations)</li>
  <li> d3.js a seques, pas de dades per plantilla mes controlats. </li>
  <li> les barres s'ordenen interactivament </li>
</ul> 

<a href="/grafica/">Gràfica</a> <br/>


</body>

