@charset "ISO-8859-1";
/* CSS Document*/

body {
	font-family: Calibri;
}
    
h1 {
	font-size: 2.0em;
	color: #1cb6f4;
	text-align: center;
}

p {
font-size: 1.3em;
	text-align: justify;
}

#tit {
	margin: 0 auto; 
	height:170px;
	border-bottom: solid #1c1a1d;
	border-bottom-width: 5px;
	box-shadow: 0px 5px 4px #999;
}

#cos {
	padding: 30px
}

#firma {
	height: 22px; 				
	background-color: #1c1a1d;
	position: fixed;
	bottom: 0px;
	width: 960px;
	font-size: 1.0em;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	font-stretch: expanded;
	box-shadow: 0px -5px 4px #999;
	vertical-align: middle;
	font-weight: bold;
}

#data {
	width: 50%;
	float: left;
}
#nom {
	width: 50%;
	float: left;
	text-align: right;
}


ul {
	font-size: 1.3em;
}

body {
  font: 10px sans-serif;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

/* tooltip css */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* axis and grids */
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

label {display:block; width:x; height:y; text-align:right;}

